body{
    background-image: url(kep.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.btn {
    padding: 20px 50px;
    background: #7d2ae8;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    outline: none;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px #7d2ae8;
    letter-spacing: 1px;
    cursor: pointer;
}

h3 {
    background-color: black;
    color: #7d2ae8;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    
}

h1 {
    background-color: black;
    color: #7d2ae8;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    
}

.keszito {
    display: flex;
    justify-content: flex-end;
    height: 75vh;
    align-items: flex-end;
}

.szoveg {
    display: flex;

}

h1 h2 h3 {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 0.04807692307692313rem + 5.128205128205128vw, 3.125rem);
}

